.page-header-content {
	h1, .h1 {
		margin-top: 0;
	}

	.lead {
		line-height: 1.5;
	}

	@include breakpoint(large) {
		font-size: 1.5em;
	}
}

.page-header {
	text-shadow: 0px 0px 3px rgba($black, 0.5);

	&:not(.pill-header-4),
	&:not(.pill-header-7),
	&:not(.hero-header) {
		padding-bottom: 2em;

		@include breakpoint(medium) {
			padding-bottom: 4em;
		}

		@media (min-width: 1024px) and (max-height: 766px) {
			padding-bottom: 0;
		}


	}

	&.light-bg, &.offwhite-bg {
		text-shadow: none;
	}
}