.light-bg {
	background-color: $c-gtm-grey-light;
	color: $black;
}

.dark-bg {
	background-color: $c-gtm-grey-dark;
}

.darkblue-bg {
	background-color: $c-gtm-blue-dark;
}

.blue-bg {
	background-color: $c-gtm-blue;
}

.red-bg {
	background-color: $c-gtm-red;
}

.dark-bg,
.darkblue-bg,
.blue-bg,
.red-bg {
	color: $white;

	a:not(.button) {
		color: $white;
	}

	form a {
		color: $anchor-color;
	}
}

.image-bg {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}