.explainer-section {

	@include breakpoint(large) {
		display: flex;

		.section-heading {
			flex-basis: 33%;
			flex-shrink: 0;
			min-width: 330px;
			max-width: 600px;
			padding-right: 1em;
		}

		.list-element__container {
			display: grid;
			grid-template-columns:  repeat(auto-fill, minmax(250px, 400px));;
			grid-column-gap: 2em;
			grid-row-gap: 1em;
			grid-auto-rows: auto;
			max-width: 66%;
			flex-basis: 66%;

		}

	}

}

.list-element__container {



	.element {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 1.5em;

		&:last-of-type {
			padding-bottom: 0;
		}

		@include breakpoint(large) {

			@supports (display: $flagcheck) {
				padding-bottom: 0;
			}

		}


	}
}