

@include breakpoint(large) {

	.blog-header {
		h1 {
			@include fluid-type(font-size, $msWidth-min, $msWidth-max, $msFont-min * $ms6, $msFont-max * $ms6);
		}
	}

	.blog-post {
		width: 100%;
		max-width: 60rem;
		padding-left: 1em;
		padding-right: 1em;
		margin-left: auto;
		margin-right: auto;
	}

}